<a href="https://colab.research.google.com/github/Alexiagmz/Valores_Nulos/blob/main/Actividad_3_2_Datos_Facturaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
#Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
data=pd.read_excel("Datos de Facturaci√≥n.xlsx")
data.head(5)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0

In [32]:
#Identificar valores nulos por columna .isnull()
valores_nulos=data.isnull().sum()
valores_nulos

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [34]:
#Realizamos una copia del dataframe (copy)
data1=data.copy()

In [35]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por una clave nueva para identificar "F99999"

data1["CVE_DOC"]=data1["CVE_DOC"].fillna("F99999")

In [36]:
#Corroborar valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

CVE_DOC              0
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [37]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por una leyenda que representa que no existe algun estatus
data1["STATUS"]=data1["STATUS"].fillna("SIN ESTATUS")

In [38]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por un una leyenda que representa valores nulos
data1["CVE_VEND"]=data1["CVE_VEND"].fillna("SIN CLAVE")

In [39]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Las 3 fechas sustituye lo datos nulos por la fecha anterior
data1["FECHAELAB"]=data1["FECHAELAB"].fillna(method="ffill")
data1["FECHA_DOC"]=data1["FECHA_DOC"].fillna(method="ffill")
data1["FECHA_ENT"]=data1["FECHA_ENT"].fillna(method="ffill")

<ipython-input-39-e14bfdb15751>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1["FECHAELAB"]=data1["FECHAELAB"].fillna(method="ffill")
<ipython-input-39-e14bfdb15751>:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1["FECHA_DOC"]=data1["FECHA_DOC"].fillna(method="ffill")
<ipython-input-39-e14bfdb15751>:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1["FECHA_ENT"]=data1["FECHA_ENT"].fillna(method="ffill")

In [40]:
#Corroborar valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

CVE_DOC              0
CVE_CLPV             0
STATUS               0
CVE_VEND             0
FECHAELAB            0
FECHA_DOC            0
FECHA_ENT            0
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [41]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por una leyenda que representa que no existe cancelaci√≥n en ese pedido
data1["FECHA_CANCELA"]=data1["FECHA_CANCELA"].fillna("No hay cancelaci√≥n")

In [42]:
#Corroborar valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          6
DES_TOT          1
DES_FIN          3
dtype: int64

In [43]:
#Primer m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos con promedio o media
data1["CAN_TOT"]=data1["CAN_TOT"].fillna(round(data["CAN_TOT"].mean(),1))

In [44]:
#Corroborar valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          1
DES_FIN          3
dtype: int64

In [45]:
#m√©todo de sustituci√≥n de valores nulos .fillna(algo)
#Sustituir valores nulos por valor numerico 0 que representa que no existe un descuento
data1["DES_TOT"]=data1["DES_TOT"].fillna(0)
data1["DES_FIN"]=data1["DES_FIN"].fillna(0)

In [46]:
#Corroborar valores nulos
valores_nulos=data1.isnull().sum()
valores_nulos

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          0
DES_FIN          0
dtype: int64

In [48]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos

0

In [50]:
data1.to_csv("Datos de Facturaci√≥n_sin_nulos.csv")